@import "tailwindcss";
@import "./fonts.css";

* {
  font-family:
    "iransans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

.ltr-text {
  direction: ltr;
  text-align: left;
  display: inline-block;
}

/* For Persian text */
.persian-text {
  font-family: 'Vazir', sans-serif;
  direction: rtl;
  text-align: right;
}

/* Mixed content handling */
.mixed-text {
  direction: auto;
}